@model Burger
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Burger</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BurgerType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BurgerType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Продукт</th>
                    <th>Количество</th>
                </tr>
                @foreach (var item in Model.Recipe)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Key)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>